@font-face {
	font-family: 'HelveticaNeueCyr-Medium';
	src: url('../fonts/helveticaneuecyr/helveticaneuecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'PF Din Text Cond Pro';
	src: url('../fonts/PFDinTextCondPro/PFDinTextCondPro-Regular.otf'); /* IE 9 Compatibility Mode */
	
}

@font-face {
	font-family: 'Lato';
	src:url('../fonts/Lato/Lato-Regular.ttf');
}